.done{
    text-decoration: line-through;
}

.desc{
    padding: 10px;
}

.btn {
    background-color: darksalmon;
    height: 60px;
    width: 170px;
}

body {
    margin: 0;
}

form{
    background-color: gray;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

textarea{
    margin: 5px 20px;
}

.error {
    color: darkred;
    text-decoration: none;
}